:host {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

:host input {
  width: 93%;
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: 1px solid var(--vscode-editorWidget-border);
  border-radius: 5px;
  padding: 4px;
}

.textbox {
  display: flex;
  flex-direction: column;
}

.textbox label {
  margin-bottom: 5px;
}

:host input:disabled,
.textbox input:disabled {
  background-color: var(--vscode-editorWidget-background, var(--vscode-input-background));
  color: var(--vscode-disabledForeground, var(--vscode-input-foreground));
  opacity: 0.6;
  cursor: not-allowed;
  border-color: var(--vscode-editorWidget-border);
}

:host input.textbox--error {
  border-color: var(--vscode-errorForeground, #f14c4c);
}

:host input.textbox--error:focus {
  // outline: 1px solid var(--vscode-errorForeground, #f14c4c);
  border-color: var(--vscode-errorForeground, #f14c4c);
  box-shadow: 0 0 0 1px var(--vscode-errorForeground, #f14c4c);
}

.textbox__error {
  margin-top: 4px;
  color: var(--vscode-errorForeground, #f14c4c);
  font-size: 12px;
}