<div class="custom-accordion">
    <div *ngFor="let group of groups(); let i = index" class="accordion-item">
        <div class="accordion-header" (click)="togglePanel(i)">
            <mat-icon class="arrow" [class.expanded]="expanded.has(i)">
                {{ expanded.has(i) ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}
            </mat-icon>
            <span class="title">{{ group.label }}</span>
        </div>
        <div class="accordion-content" *ngIf="expanded.has(i)">
            <ng-container *ngIf="group.type === 'group'; else singleContent">
                <div class="custom-accordion sub-accordion">
                    <div *ngFor="let sub of group.subgroups; let j = index" class="accordion-item">
                        <div class="accordion-header sub-header" (click)="toggleBlock(j); $event.stopPropagation()">
                            <mat-icon class="arrow" [class.expanded]="blockExpanded.has(j)">
                                {{ blockExpanded.has(j) ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}
                            </mat-icon>
                            <span class="title">{{ sub.label }}</span>
                        </div>
                        <div class="accordion-shapes" *ngIf="blockExpanded.has(j)">
                            <ng-container *ngIf="sub.shapes && sub.shapes.length > 0; else subgroupContent">
                                <div *ngFor="let shape of sub.shapes" class="palette-item" 
                                    >
                                    <div class="shape-icon" fExternalItem [fData]="shape" [attr.aria-label]='shape.catalogLabel+"_"+"palette"'>
                                        <img [src]="shape.svgPath" class="shape-svg" />
                                    </div>
                                    <!-- <span class="shape-label">{{ shape.label }}</span> -->
                                </div>
                            </ng-container>
                            <ng-template #subgroupContent>
                                <div class="empty-message">No shapes available</div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #singleContent>
                {{ group.label }}
            </ng-template>
        </div>
    </div>
</div>
