@if (!selectedBlockId) {
  <div class="empty-state" [attr.aria-label]="'empty-block-parameter-editing-panel'">
    <h3>No block added or selected</h3>
    <p>Add a new block onto the canvas or select an existing block to edit the block parameters.</p>
  </div>
} @else {
  <section class="params-shell" [attr.aria-label]="'block-parameter-editing-panel'">
    <header class="params-header">
      <div class="params-header-left">
        @if (blockTypeSvgPath) {
          <svg-icon [src]="blockTypeSvgPath" class="block-icon"></svg-icon>
        }
        <h3 class="block-name">{{ blockName }}</h3>
      </div>

      <svg-icon
        src="assets/shapes/Icons/X.svg"
        [attr.aria-label]="'Close-block-parameters-panel'"
        title="Close"
        role="button"
        tabindex="0"
        (click)="closePanel()"
        (keydown.enter)="closePanel()"
        (keydown.space)="closePanel()"
      ></svg-icon>
    </header>

    <div class="params-body">
      @for (param of actualParameters; track param.name) {
        @if (shouldShowInUI(param)) {
          @if (isNumberType(param.type)) {
            <app-input-numeric
              [label]="param.name"
              automationID="{{ 'param-' + param.name }}"
              [(ngModel)]="param.value"
              (inputChange)="onParameterValueChange()"
              automationID="input-{{ param.name }}"
            />
          } @else {
            <app-textbox
              [label]="param.name"
              [(ngModel)]="param.value"
              (inputChange)="onParameterValueChange()"
              automationID="input-{{ param.name }}"
            />
          }
        }
      }
    </div>
  </section>
}
