.main-flow-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.palette-sidebar {
  width: 320px;
  flex-shrink: 0;
  background: var(--vscode-editor-background);
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.06);
  z-index: 9;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  transition: width 0.2s;
}

.palette-sidebar.collapsed {
  width: 32px;
  min-width: 32px;
  padding: 0;
  overflow: visible;
}

.collapse-btn {
  position: absolute;
  right: 1rem;
  background: var(--vscode-editor-background);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.collapse-btn-header {
  display: flex;
  padding-bottom: 1rem;
}

.header-left-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.palette-sidebar.collapsed .header-left-buttons {
  display: none;
}

.palette-sidebar.collapsed .collapse-btn {
  right: -16px;
}

.canvas-area {
  flex: 1;
  overflow: hidden;
}

.parameters-sidebar {
  width: 320px;
  flex-shrink: 0;
  background: white;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.06);
  padding: 1rem;
  overflow-y: auto;
}

.parameters-box {
  background: white;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  padding: 1rem;
}

.parameters-box h3 {
  margin: 0 0 1rem 0;
  font-size: 1rem;
  font-weight: 600;
  color: #24292e;
}

.mat-icon {
  height: 1.5rem;
  width: 1rem;
  color: var(--vscode-editor-foreground);
}

/* ===== Shared Button Base Style ===== */
.action-btn {
  border-radius: 13px;
  background-color: transparent;
  color: var(--vscode-editor-foreground);
  border-color: var(--vscode-activityBarBadge-background);
  border-style: solid;
  border-width: thin;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  position: relative;
}
