<div class="event-block">
  <span class="event-block-label">Event</span>
  <p>
    <i>
      @if (isSingleSelection) {
        (select one)
      } @else {
        (select max 4)
      }
    </i>
  </p>
  <div class="event-divider event-divider--header"></div>

  @for (type of eventTypes; track type) {

    <div class="event-row">
      <div class="event-type-selector">
        @if (isSingleSelection) {
          <app-radio-button
            [label]="type"
            [name]="'event-list-selection'"
            [value]="type"
            [checked]="isSelected(type)"
            (checkedChange)="selectSingleEvent($event)"
            [attr.aria-label]="'Radio-Event-' + type"
            [automationID]="'Radio-Event-' + type"
          >
          </app-radio-button>
        } @else {
          <app-checkbox
            [label]="type"
            [checked]="isSelected(type)"
            [disabled]="isEventTypeDisabled(type)"
            (checkedChange)="onEventCheckedChange(type, $event)"
            [attr.aria-label]="'Checkbox-Event-' + type"
            [automationID]="'Checkbox-Event-' + type"
          >
          </app-checkbox>
        }
      </div>

      <div class="event-config">
        @for (param of getParamsForType(type); track param.name) {
          <div class="event-param-control">
            @if (getControlType(param) === 'select') {
              <app-dropdown
                [label]="param.name"
                [options]="getOptions(type, param)"
                [selected]="getParamValue(type, param.name)"
                [disabled]="!isSelected(type)"
                (selectedChange)="updateParam(type, param.name, $event)"
                [automationID]="'Dropdown-Event-' + type + '-' + param.name"
              />
            } @else if (getControlType(param) === 'number') {
              <app-dropdown
                [label]="param.name"
                [options]="getOptions(type, param)"
                [selected]="getParamValue(type, param.name)"
                [disabled]="!isSelected(type)"
                (selectedChange)="updateParam(type, param.name, $event)"
                [automationID]="'Dropdown-Event-' + type + '-' + param.name"
              />
            } @else {
              <app-textbox
                [label]="param.name"
                [disabled]="!isSelected(type)"
                (inputChange)="updateParam(type, param.name, $event)"
                [attr.aria-label]="param.name + ' for event ' + type"
                [automationID]="'Textbox-Event-' + type + '-' + param.name"
              />
            }
          </div>
        }
      </div>
    </div>
  }

  <div class="event-divider event-divider--footer"></div>
</div>
