<div class="event-block">
  <h4>Event</h4>
  <p>
    <i>
      @if (isSingleSelection) {
        (select one)
      } @else {
        (select max 4)
      }
    </i>
  </p>
  <div class="event-divider event-divider--header"></div>

  @for (type of eventTypes; track type) {

    <div class="event-row">
      <div class="event-type-selector">
        @if (isSingleSelection) {
          <label>
            <input
              type="radio"
              name="event-list-selection"
              [checked]="isSelected(type)"
              (change)="selectSingleEvent(type)"
            />
            {{ type }}
          </label>
        } @else {
          <label>
            <input
              type="checkbox"
              [checked]="isSelected(type)"
              (change)="toggleEvent(type)"
            />
            {{ type }}
          </label>
        }
      </div>

      <div class="event-config">
        @for (param of getParamsForType(type); track param.name) {
          <div class="event-param-control">
            @if (getControlType(param) === 'select') {
              <app-dropdown
                [label]="param.name"
                [options]="getOptions(type, param)"
                [selected]="getParamValue(type, param.name)"
                [disabled]="!isSelected(type)"
                (selectedChange)="updateParam(type, param.name, $event)"
              />
            } @else if (getControlType(param) === 'number') {
              <app-dropdown
                [label]="param.name"
                [options]="getOptions(type, param)"
                [selected]="getParamValue(type, param.name)"
                [disabled]="!isSelected(type)"
                (selectedChange)="updateParam(type, param.name, $event)"
              />
            } @else {
              <app-textbox
                [label]="param.name"
                [disabled]="!isSelected(type)"
                (inputChange)="updateParam(type, param.name, $event)"
              />
            }
          </div>
        }
      </div>
    </div>
  }

  <div class="event-divider event-divider--footer"></div>
</div>